html,body {
    height: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.3em;
}

.header {
    height: 30px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.header > div {
    display: flex;
    gap: 7px;
}

.center {
    display: flex;
    flex: auto;
    padding: 1em 1em 1em 2em;
    flex-wrap: wrap;
}

.side {
    padding-right: 1em;
}

.side ul {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*.footer {*/
/*    height: 30px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    padding: 1em;*/
/*}*/

/*div {*/
/*    border: 1px red solid;*/
/*}*/

