:root {
    --zinc-200: #e4e4e7;
    --zinc-600: #52525b;
    --zinc-800: #27272a;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --orange-50: #fff7ed;
    --emerald-300: #6ee7b7;
}

* {
    font-family: Acathist sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 150px 4fr;
    height: 100vh;
}

a {
    text-decoration: none;
}

nav {
    background-color: var(--red-400);
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 0.4rem 2rem 0.4rem 1rem;
    font-size: smaller;
}

nav > div > div {
    display: flex;
    align-items: center;
    gap: 5px;
    /*border: #ffff99 2px solid;*/
}


header {
    background-color: var(--orange-50);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header > div {
    display: flex;
    border: #3c4faf 2px solid;
    justify-content: space-between;
}

header > div > div {
    display: flex;
    /*border: forestgreen 2px solid;*/
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.search {
    width: clamp(500px, 50%, 80%);
    padding: 0 1rem 0 1rem;
}

.search-bar {
    height: 2.5ch;
    width: 90%;
    background-color: var(--zinc-200);
    border: none;
    border-radius: 15px;
}

.character {
    gap: 0.4rem;
    padding-right: 30px;
}

.actions {
    padding-right: 30px;
}

.actions > button {
    background-color: var(--red-400);
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border: none;
    border-radius: 10px;
    color: white;
}

.greeting {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

main {
    background-color: var(--zinc-200);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
}

.projects {
    grid-row-start: 1;
    grid-row-end: -1;
    background-color: cadetblue;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    background-color: palevioletred;
    gap: 2rem;
}

.card {
    background-color: var(--orange-50);
    padding: 1rem;
    height: 200px;
    border-left: var(--emerald-300) 8px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: grey 2px 4px 4px;
}

.card-title {
    font-size: 1.5ch;
    font-weight: bold;
}

.card-text {
    font-size: 1.3ch;
    padding: 0.3rem 0 0 0;
    color: #111111;
}

.card-interactions {
    display: flex;
    /*background: #3c4faf;*/
    margin-top: auto;
    align-self: flex-end;
    gap: 1rem;
}

/*https://stackoverflow.com/questions/31000885/align-an-element-to-bottom-with-flexbox*/

.announcement-card {
    background-color: coral;
}