.shelf {
    height: 400px;
    width: 1000px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.book {
    display: flex;
    flex-direction: column;
    height: 350px;
    background-color: #27272a;
    padding: 1rem;
    gap: 1rem;
}

.book > [data-index] {
    text-align: center;
    color: red;
}

.attribution {
    background-color: #52525b;
    height: 205px;
    color: goldenrod;
    writing-mode: sideways-lr;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    /*padding: 1rem;*/
/*    Why is the css reapplying the padding??*/
}

.metadata {
    display: flex;
    color: lightblue;
    flex-direction: column;
    align-items: center;
    text-align: center;
}